/*PRATICA DA AULA*/
@keyframes minhaAnimacao{
	from{
		left: 10px;
	}
	to{
		left: 50px;
		background: blue;
		border-radius: 100px;
		width: 200px;
		height: 200px;
	}
}
.box{
	position: relative;
	left: 10px;
	top: 10px;
	width: 100px;
	height: 100px;
	background: red;
	/*animation-name: minhaAnimacao;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 4;
	animation-direction: alternate;
	animation-timing-function: 
	animation-fill-mode*/
	animation: minhaAnimacao 5s 3s 3 alternate;

}
.box:hover{
	border: solid 5px black;
	transition: border 3s 2s;
}
/*EXERCICIO DA AULA*/
@keyframes animacaoBox{
	0%  {background: red; }
 	25% {transform: rotate(90deg); background: yellow; }
 	50% {transform: rotate(180deg); background: blue; }
 	100% {transform: rotate(270deg); background: green;}
 	
}
.box2{
	position: relative;
	left: 200px;
	top: 200px;
	width: 200px;
	height: 200px;
	background: black;
	animation: animacaoBox 10s 2s 3 alternate forwards;
	
}