.conteudo{
	background-image: linear-gradient(to bottom, rgba(206, 212, 218, 0.8), rgba(173, 181, 189, 0.8), rgba(108 , 117, 125, 0.8), rgba(73, 80, 87, 0.8));
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.cabecalho{
	/*background-color: #EBB042;*/
	background-image: linear-gradient(to left, rgba(0, 0, 0, 1.0), rgba(20, 33, 61, 1.0),rgba(252, 163, 17, 1.0));
	box-shadow: 0px 1px 2px 3px rgba(0, 0, 0, 0.4);
	margin-bottom: 5px;
	box-sizing: border-box;
}
.logo{
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
.logo img{
	width: 70px;
	height: 100px;
}

.titulo{
	font-family: "Times New Roman", Palatino, Bookman, New Century Schoolbook, serif;
	font-size: 16px;
	width: 100%;
	padding-right: 10px;
	box-sizing: border-box;
}
.titulo h1{
	color: white;
	text-align: center;
	/*Move p/lado | para cima/baixo | intensidade*/
	text-shadow: 1px 2px 3px #000000;

}
.coluna{
	padding: 10px;
}
.quadro{
	font-family: "Times New Roman", Palatino, Bookman, New Century Schoolbook, serif;
	color: white;
	text-shadow: 1px 2px 3px #000000;
	font-size: 20px;
	background-color: #3C5C75;
	box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	width: 100%;
	height: 255px;
	padding: 10px;
	box-sizing: border-box;
}
.quadro h1{
	font-size: 20px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: left;
}
.quadro p{
	font-size: 16px;
	text-align: left;
	
}
.quadro a:link{
	color:  white;
	text-decoration: none;
}
.quadro a:visited{
	color:  white;
}
.quadro img{
	width: 50px;
	height: 50px;
	margin-left: 27px;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.7);
	border-radius: 40px;
	background-color: white;

}
.projeto{
	background-color: #EBB042;
}
.teste{
	margin: 2px;
}
.rodape{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(20, 33, 61, 1.0),rgba(252, 163, 17, 1.0));
	color: white;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	text-shadow: 1px 2px 3px black;
	padding-top: 5px;
	bottom: 0px;
}