.conteudo{
	box-sizing: border-box;
}
.linha{
	box-sizing: border-box;
}
.coluna{
	box-sizing: border-box;
}
.frame1{
	padding: 5px;
	box-sizing: border-box;
}
.frame1 img{
	width: 100%;
	height: 540px;
	box-sizing: border-box;
}
.frame2{
	padding: 5px;
}
.frame2 img{
	width: 100%;
	height: 177px;
	box-sizing: border-box;
}
.frame3{
	padding: 5px;
	
}
.frame3 img{
	width: 100%;
	height: 177px;
	box-sizing: border-box;
}
.frame4{
	padding: 5px;
	
}
.frame4 img{
	width: 100%;
	height: 177px;
	box-sizing: border-box;
}